In [1]:
from datetime import datetime
import os
from numpy import genfromtxt
import pandas as pd
import numpy as np

features_wd = os.path.join(os.getcwd(), 'features')

In [3]:
import pandas as pd
df = pd.read_csv('sample_50_rand_df.csv')

In [4]:
df = df[['Concert ID', 'Track', 'Kriti', 'Ragam', 'Composer', 'Main Artist']]
df = df[df['Ragam'] != 'rAgamAlikA']

In [12]:
from sklearn.model_selection import train_test_split
X_train_file, X_test_file, y_train_file, y_test_file = train_test_split(df.index, 
                                                    df['Ragam'], 
                                                    test_size = 0.1, 
                                                    random_state = 0,
                                                    stratify = df['Ragam'])
indices = list(X_train_file)
ragams = list(y_train_file)
print(indices[0], ragams[0], df.loc[indices[0]]['Ragam'])

970 kalyANavasantam kalyANavasantam

In [100]:
import pandas as pd
def split_n_seconds(i, ragam, samp, n):
    try:
        data = np.genfromtxt(os.path.join(features_wd, 'chroma_{}.csv'.format(i)), delimiter = ',')/50
    except:
        return 
    try:
        r = len(data)%(22*n)
        x = len(data)//(22*n)
    except:
        return

    try: 
        tot_obs = np.split(data[:len(data)-r], x)
    except:
        return
    df = pd.DataFrame([tot_obs[0]], columns = np.arange(n*22))
    j=0
    for j in range(1, len(tot_obs)):
        df = df.append([tot_obs[j]], ignore_index=True)
    df['Ragam'] = ragam
    if len(df) >= samp:
        df = df.sample(samp, random_state=0).reset_index()    
        
    return df



def get_df(samp, n):
    df = split_n_seconds(indices[0], ragams[0], samp, n)
    for i in range(1, len(indices)):
        if i % 100 == 0:
            print('{} {}'.format(i, datetime.now().strftime("%H:%M:%S")))
        df = df.append(split_n_seconds(indices[i], ragams[i], samp, n))
    df = df.reset_index()
    df = df.drop(['level_0', 'index'], axis = 1)
    return df

In [101]:
    
## Randomize and pick only 500 (find a number) odd samples from this df before appending to file
## Plots required when testing 2 classes - 
## Model performance - ROC curve
## Truth Matrix
## Accuracy 
## Code performance - Time taken for model (training, testing, prediction), sys_module memory, size of inputs, Total time

In [102]:
len(indices)

6127

In [208]:
df_100_2 = get_df(100, 2)

100 19:18:25
200 19:18:57
300 19:19:28
400 19:21:13
500 19:21:49
600 19:22:25
700 19:23:00
800 19:23:39
900 19:24:53
1000 19:25:23
1100 19:25:57
1200 19:26:44
1300 19:27:20
1400 19:28:34
1500 19:29:15
1600 19:29:47
1700 19:30:27
1800 19:31:01
1900 19:31:39
2000 19:32:41
2100 19:33:20
2200 19:34:02
2300 19:34:38
2400 19:35:14
2500 19:36:27
2600 19:37:05
2700 19:37:49
2800 19:38:40
2900 19:39:19
3000 19:40:57
3100 19:41:30
3200 19:42:16
3300 19:42:49
3400 19:43:27
3500 19:43:58
3600 19:45:44
3700 19:46:24
3800 19:47:05
3900 19:47:51
4000 19:48:27
4100 19:50:11
4200 19:50:47
4300 19:51:32
4400 19:52:14
4500 19:52:53
4600 19:54:35
4700 19:55:22
4800 19:56:03
4900 19:56:41
5000 19:57:22
5100 19:59:20
5200 19:59:54
5300 20:00:36
5400 20:01:23
5500 20:02:05
5600 20:02:48
5700 20:04:53
5800 20:05:41
5900 20:06:30
6000 20:07:17
6100 20:08:16

In [211]:
df_100_2.to_csv('samp_100_n_2.csv')

In [2]:
df_100_2 = pd.read_csv('samp_100_n_2.csv')

In [7]:
df_100_2_bal = df_100_2.groupby('Ragam', group_keys=False).apply(lambda x: x.sample(min(df_100_2['Ragam'].value_counts()))).reset_index(drop=True)
df_100_2_bal = df_100_2_bal.drop(['Unnamed: 0'], axis = 1)

In [8]:
df_100_2_bal.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,Ragam
0,0.44,0.04,0.02,0.44,0.44,0.44,0.44,0.44,0.40,0.18,...,0.24,0.04,0.02,0.38,0.38,0.04,0.04,0.04,0.00,AbhEri
1,0.96,0.90,0.48,0.48,0.90,0.90,0.34,0.28,0.56,0.56,...,0.32,0.06,0.96,0.96,0.22,0.22,0.80,0.90,0.90,AbhEri
2,0.94,0.12,0.94,0.94,0.94,0.94,0.12,0.94,0.16,0.16,...,0.34,0.94,0.94,0.36,0.36,0.36,0.96,0.94,0.36,AbhEri
3,0.60,0.62,0.40,0.32,0.58,0.60,0.40,0.42,0.36,0.36,...,0.22,0.54,0.40,0.56,0.58,0.58,0.54,0.00,0.96,AbhEri
4,0.62,0.66,0.78,0.86,0.86,0.86,0.84,0.80,0.74,0.66,...,0.04,0.02,0.04,0.74,0.62,0.62,0.62,0.62,0.62,AbhEri

In [9]:
df_100_2_bal.to_csv('bal_samp_100_n_2.csv')

In [10]:
df_100_2_bal = pd.read_csv('bal_samp_100_n_2.csv')

In [ ]:
import numpy as np # linear algebra
import psutil
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#from keras.layers import Dense, Embedding, LSTM
#from keras.models import Sequential
#from sklearn.feature_extraction.text import CountVectorizer
#from keras.preprocessing.text import Tokenizer
#from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
#from keras.utils.np_utils import to_categorical
#from keras.callbacks import EarlyStopping

In [5]:
psutil.virtual_memory()

svmem(total=17179869184, available=1874591744, percent=89.1, used=1761955840, free=674664448, active=1201696768, inactive=1093586944, wired=560259072)

In [32]:
df_70_3 = get_df(70, 3)
df_70_3.to_csv('bal_samp_70_n_3.csv')

100 06:07:38
200 06:08:06
300 06:08:34
400 06:09:04
500 06:09:36
600 06:10:09
700 06:10:41
800 06:11:16
900 06:11:48
1000 06:12:14
1100 06:12:43
1200 06:13:26
1300 06:13:58
1400 06:14:31
1500 06:15:08
1600 06:15:37
1700 06:16:14
1800 06:16:44
1900 06:17:19
2000 06:17:50
2100 06:18:25
2200 06:19:03
2300 06:19:36
2400 06:20:09
2500 06:20:47
2600 06:21:22
2700 06:22:01
2800 06:22:45
2900 06:23:21
3000 06:23:56
3100 06:24:25
3200 06:25:07
3300 06:25:36
3400 06:26:10
3500 06:26:38
3600 06:27:16
3700 06:27:51
3800 06:28:28
3900 06:29:08
4000 06:29:40
4100 06:30:18
4200 06:30:51
4300 06:31:30
4400 06:32:08
4500 06:32:42
4600 06:33:18
4700 06:33:59
4800 06:34:35
4900 06:35:09
5000 06:35:46
5100 06:36:24
5200 06:36:55
5300 06:37:32
5400 06:38:15
5500 06:38:58
5600 06:39:41
5700 06:40:29
5800 06:41:11
5900 06:41:54
6000 06:42:36
6100 06:43:28

In [33]:
df_200_1 = get_df(200, 1)
df_200_1.to_csv('bal_samp_200_n_1.csv')

100 06:44:45
200 06:45:23
300 06:46:01
400 06:46:41
500 06:47:25
600 06:48:08
700 06:48:52
800 06:49:40
900 06:50:23
1000 06:50:58
1100 06:51:36
1200 06:52:33
1300 06:53:16
1400 06:54:00
1500 06:54:49
1600 06:55:28
1700 06:56:16
1800 06:56:57
1900 06:57:43
2000 06:58:24
2100 06:59:10
2200 07:00:01
2300 07:00:44
2400 07:01:27
2500 07:02:17
2600 07:03:03
2700 07:03:55
2800 07:04:53
2900 07:05:40
3000 07:06:26
3100 07:07:04
3200 07:07:58
3300 07:08:36
3400 07:09:21
3500 07:09:57
3600 07:10:48
3700 07:11:33
3800 07:12:21
3900 07:13:14
4000 07:13:56
4100 07:14:45
4200 07:15:26
4300 07:16:18
4400 07:17:06
4500 07:17:51
4600 07:18:37
4700 07:19:30
4800 07:20:17
4900 07:21:00
5000 07:21:48
5100 07:22:37
5200 07:23:17
5300 07:24:06
5400 07:25:00
5500 07:25:51
5600 07:26:42
5700 07:27:47
5800 07:28:39
5900 07:29:31
6000 07:30:25
6100 07:31:30

In [67]:
df_400_p5 = get_df(400, 0.5)
df_400_p5.to_csv('bal_samp_400_n_p5.csv')

3818 nAgasvarAvaLi 400 0.5

AttributeError: 'NoneType' object has no attribute 'append'

In [70]:
i=3818
data = np.genfromtxt(os.path.join(features_wd, 'spec_cent_{}.csv'.format(i)), delimiter = ',')

In [72]:
len(data)

30464

In [133]:
df_100_2 = get_df(100, 2)
df_100_2.to_csv('samp_100_n_2.csv')

100 17:47:15
200 17:47:48
300 17:48:19
400 17:48:52
500 17:49:29
600 17:50:05
700 17:50:41
800 17:51:22
900 17:51:58
1000 17:52:27
1100 17:52:58
1200 17:53:46
1300 17:54:21
1400 17:54:59
1500 17:55:39
1600 17:56:12
1700 17:56:52
1800 17:57:26
1900 17:58:04
2000 17:58:38
2100 17:59:17
2200 17:59:59
2300 18:00:36
2400 18:01:12
2500 18:01:54
2600 18:02:32
2700 18:03:16
2800 18:04:05
2900 18:04:44
3000 18:05:24
3100 18:05:55
3200 18:06:43
3300 18:07:14
3400 18:07:53
3500 18:08:24
3600 18:09:06
3700 18:09:44
3800 18:10:26
3900 18:11:11

KeyboardInterrupt:

In [ ]:
def bal_df(df):
    df_bal = df.groupby('Ragam', group_keys=False).apply(lambda x: x.sample(min(df['Ragam'].value_counts()))).reset_index(drop=True)
    df_bal = df_bal.drop(['Unnamed: 0'], axis = 1)

In [104]:
import pandas as pd
def split_n_seconds_spec(i, ragam, samp, n):
    try:
        data = np.genfromtxt(os.path.join(features_wd, 'spec_cent_{}.csv'.format(i)), delimiter = ',')
    except:
        return 
    try:
        r = len(data)%(22*n)
        x = len(data)//(22*n)
    except:
        return

    try: 
        tot_obs = np.split(data[:len(data)-r], x)
    except:
        return
    df = pd.DataFrame([tot_obs[0]], columns = np.arange(n*22))
    j=0
    for j in range(1, len(tot_obs)):
        df = df.append([tot_obs[j]], ignore_index=True)
    df['Ragam'] = ragam
    if len(df) >= samp:
        df = df.sample(samp, random_state=0).reset_index()    
        
    return df



def get_df_spec(samp, n):
    df = split_n_seconds_spec(indices[0], ragams[0], samp, n)
    for i in range(1, len(indices)):
        if i % 100 == 0:
            print('{} {}'.format(i, datetime.now().strftime("%H:%M:%S")))
        df = df.append(split_n_seconds(indices[i], ragams[i], samp, n))
    df = df.reset_index()
    df = df.drop(['level_0', 'index'], axis = 1)
    return df

In [105]:
spec_df_100_2 = get_df_spec(100, 2)
spec_df_100_2.to_csv('spec_samp_100_n_2.csv')

100 15:33:29
200 15:34:04
300 15:34:40
400 15:35:15
500 15:35:53
600 15:36:31
700 15:37:08
800 15:37:49
900 15:38:27
1000 15:38:58
1100 15:39:30
1200 15:40:20
1300 15:40:57
1400 15:41:35
1500 15:42:17
1600 15:42:51
1700 15:43:33
1800 15:44:09
1900 15:44:48
2000 15:45:25
2100 15:46:05
2200 15:46:49
2300 15:47:25
2400 15:48:01
2500 15:48:43
2600 15:49:21
2700 15:50:05
2800 15:50:54
2900 15:51:34
3000 15:52:14
3100 15:52:46
3200 15:53:32
3300 15:54:04
3400 15:54:41
3500 15:55:13
3600 15:55:55
3700 15:56:33
3800 15:57:13
3900 15:57:57
4000 15:58:33
4100 15:59:14
4200 15:59:49
4300 16:00:33
4400 16:01:13
4500 16:01:51
4600 16:02:30
4700 16:03:14
4800 16:03:54
4900 16:04:30
5000 16:05:10
5100 16:05:52
5200 16:06:25
5300 16:07:05
5400 16:07:50
5500 16:08:31
5600 16:09:13
5700 16:10:04
5800 16:10:47
5900 16:11:33
6000 16:12:20
6100 16:13:26

In [48]:
spec_df_100_2 = pd.read_csv('spec_samp_100_n_2.csv')

In [49]:
spec_df_100_2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,35,36,37,38,39,40,41,42,43,Ragam
0,0,934.866868,944.688095,896.166436,1034.827595,1113.638230,1094.659273,1244.251700,1231.122391,1190.643678,...,1007.139313,1014.970607,1113.855100,917.908053,833.537764,804.161762,773.525124,741.021035,948.511184,nAgasvarAvaLi
1,1,1428.451091,1333.526788,1212.072344,1318.413348,1287.778735,1206.243018,1184.809490,1219.899480,1153.927522,...,1750.187990,1609.853232,1647.259869,1686.835973,1811.943890,1808.110580,1792.137336,1861.160684,1810.204248,nAgasvarAvaLi
2,2,718.431267,889.915704,791.664808,734.502899,813.306816,805.048796,884.724258,1340.851612,904.569954,...,815.613197,835.603140,854.543799,912.309006,704.148180,788.143717,957.053728,874.306045,901.248729,nAgasvarAvaLi
3,3,1227.049542,1508.427439,1682.652875,1774.800149,1841.598358,1817.653715,1589.684230,1595.485205,1469.005513,...,1448.958079,1387.966495,1727.636888,1340.488513,1166.104886,1797.879889,1488.694819,1573.319849,1728.005527,nAgasvarAvaLi
4,4,2019.550650,1866.466278,1963.936922,1950.642049,2008.813411,2018.940424,2068.740502,1879.909308,1967.405486,...,2271.848775,2262.752737,2249.937108,2216.906555,2146.273265,1995.762850,1809.270603,2182.395690,1961.852587,nAgasvarAvaLi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416886,416886,0.760000,0.760000,0.880000,0.780000,0.760000,0.740000,0.900000,0.760000,0.760000,...,0.740000,0.740000,0.720000,0.760000,0.760000,0.760000,0.720000,0.760000,0.340000,sahAna
416887,416887,0.040000,0.120000,0.180000,0.180000,0.180000,0.180000,0.180000,0.720000,0.180000,...,0.760000,0.180000,0.180000,0.760000,0.960000,0.080000,0.280000,0.240000,0.680000,sahAna
416888,416888,0.020000,0.100000,0.160000,0.080000,0.020000,0.000000,0.240000,0.400000,0.240000,...,0.680000,0.720000,0.720000,0.720000,0.720000,0.720000,0.800000,0.000000,0.880000,sahAna
416889,416889,0.180000,0.160000,0.060000,0.080000,0.180000,0.700000,0.660000,0.800000,0.740000,...,0.740000,0.240000,0.120000,0.120000,0.300000,0.160000,0.760000,0.760000,0.160000,sahAna
416890,416890,0.800000,0.240000,0.760000,0.760000,0.760000,0.760000,0.680000,0.760000,0.140000,...,0.760000,0.760000,0.760000,0.740000,0.320000,0.320000,0.740000,0.740000,0.320000,sahAna

In [51]:
spec_df_100_2['Ragam'].value_counts()

kharaharapriyA        4200
cenjuruTi             3934
kAnaDA                3926
dhanAshrI             3805
hindOLam              3727
                      ...
simhEndramadhyamam    2606
gAnamUrti             2527
dEvamanOhari          2527
gambhIranATai         2409
saurAshtram           1688
Name: Ragam, Length: 129, dtype: int64

In [131]:
spec_df_100_2.loc[365321]

Unnamed: 0    365321
0               0.14
1               0.12
2                0.2
3               0.12
4                0.2
5               0.96
6                  0
7                  0
8                0.8
9               0.82
10              0.82
11              0.82
12              0.94
13              0.94
14              0.14
15              0.14
16              0.14
17              0.14
18              0.14
19              0.14
20              0.16
21              0.96
22              0.96
23              0.96
24              0.96
25              0.82
26               0.8
27               0.8
28               0.8
29               0.8
30              0.88
31              0.96
32              0.96
33              0.96
34                 0
35              0.02
36              0.78
37               0.8
38              0.76
39               0.8
40              0.82
41               0.8
42               0.8
43              0.82
Ragam         AbhEri
Name: 365321, dtype: object

In [127]:
spec_df_100_2.groupby('Ragam', group_keys=False).apply(lambda x: x.sample(min(spec_df_100_2['Ragam'].value_counts())))

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,35,36,37,38,39,40,41,42,43,Ragam
365321,365321,0.14,0.12,0.20,0.12,0.20,0.96,0.00,0.00,0.80,...,0.02,0.78,0.80,0.76,0.80,0.82,0.80,0.80,0.82,AbhEri
205293,205293,0.64,0.64,0.66,0.64,0.64,0.66,0.64,0.64,0.66,...,0.80,0.82,0.22,0.56,0.62,0.64,0.60,0.66,0.08,AbhEri
367400,367400,0.94,0.88,0.84,0.28,0.18,0.42,0.44,0.44,0.44,...,0.64,0.72,0.68,0.64,0.68,0.72,0.68,0.64,0.58,AbhEri
396776,396776,0.30,0.34,0.30,0.34,0.32,0.30,0.26,0.24,0.30,...,0.10,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,AbhEri
308158,308158,0.76,0.78,0.66,0.64,0.74,0.78,0.20,0.62,0.52,...,0.90,0.22,0.32,0.32,0.32,0.04,0.30,0.30,0.18,AbhEri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70941,70941,0.50,0.34,0.34,0.34,0.84,0.84,0.84,0.84,0.84,...,0.60,0.60,0.60,0.62,0.64,0.58,0.54,0.58,0.58,yamunAkalyANi
266774,266774,0.92,0.94,0.54,0.96,0.00,0.54,0.54,0.76,0.38,...,0.92,0.96,0.96,0.92,0.92,0.92,0.50,0.52,0.48,yamunAkalyANi
290770,290770,0.36,0.36,0.36,0.36,0.26,0.30,0.36,0.28,0.66,...,0.94,0.96,0.94,0.52,0.54,0.52,0.36,0.00,0.00,yamunAkalyANi
22834,22834,0.60,0.60,0.60,0.62,0.62,0.62,0.60,0.62,0.60,...,0.54,0.62,0.58,0.42,0.40,0.34,0.34,0.34,0.34,yamunAkalyANi
309390,309390,0.12,0.96,0.66,0.70,0.00,0.58,0.96,0.96,0.44,...,0.28,0.26,0.18,0.16,0.18,0.16,0.16,0.16,0.92,yamunAkalyANi

In [124]:
spec_df_100_2_bal = spec_df_100_2.groupby('Ragam', group_keys=False).apply(lambda x: x.sample(min(spec_df_100_2['Ragam'].value_counts()))).reset_index(drop=True)
spec_df_100_2_bal = spec_df_100_2_bal.drop(['Unnamed: 0'], axis = 1)

TypeError: <lambda>() got an unexpected keyword argument 'random_state'

In [118]:
spec_df_100_2_bal.to_csv('spec_bal_samp_100_n_2.csv')

In [123]:
spec_df_100_2_bal

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,Ragam
0,0.60,0.60,0.44,0.60,0.60,0.60,0.76,0.60,0.06,0.72,...,0.60,0.60,0.60,0.60,0.22,0.44,0.60,0.62,0.60,AbhEri
1,0.22,0.22,0.22,0.22,0.22,0.78,0.54,0.54,0.22,0.22,...,0.22,0.80,0.80,0.22,0.22,0.80,0.80,0.80,0.16,AbhEri
2,0.02,0.02,0.02,0.94,0.76,0.60,0.58,0.58,0.02,0.02,...,0.04,0.04,0.04,0.04,0.04,0.04,0.00,0.00,0.02,AbhEri
3,0.12,0.12,0.06,0.08,0.24,0.10,0.18,0.08,0.00,0.00,...,0.08,0.08,0.28,0.28,0.76,0.06,0.10,0.08,0.06,AbhEri
4,0.50,0.64,0.22,0.22,0.00,0.74,0.34,0.06,0.50,0.50,...,0.50,0.50,0.40,0.50,0.50,0.48,0.50,0.50,0.22,AbhEri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217747,0.82,0.94,0.80,0.82,0.70,0.38,0.44,0.46,0.28,0.44,...,0.50,0.66,0.58,0.54,0.70,0.82,0.86,0.86,0.80,yamunAkalyANi
217748,0.12,0.16,0.12,0.12,0.12,0.40,0.64,0.18,0.54,0.52,...,0.82,0.72,0.26,0.16,0.84,0.10,0.10,0.10,0.62,yamunAkalyANi
217749,0.52,0.52,0.10,0.54,0.64,0.64,0.58,0.10,0.56,0.64,...,0.38,0.36,0.88,0.34,0.96,0.96,0.94,0.36,0.36,yamunAkalyANi
217750,0.88,0.02,0.02,0.02,0.22,0.22,0.20,0.20,0.34,0.20,...,0.76,0.36,0.18,0.60,0.26,0.26,0.68,0.30,0.26,yamunAkalyANi
217751,0.50,0.50,0.52,0.52,0.52,0.50,0.52,0.52,0.48,0.66,...,0.52,0.52,0.26,0.50,0.28,0.34,0.50,0.50,0.50,yamunAkalyANi

In [134]:
from numpy import genfromtxt
my_data = genfromtxt(os.path.join(features_wd, 'full_chroma_1.csv'), delimiter=',')

In [138]:
my_data[0].shape

(4835,)

In [ ]:
from numpy import genfromtxt
my_data = genfromtxt(os.path.join(features_wd, 'full_chroma_1.csv'), delimiter=',')

In [ ]:
import pandas as pd
def split_n_seconds_full_chroma(i, ragam, samp, n):
    try:
        data = np.genfromtxt(os.path.join(features_wd, 'full_chroma_cent_{}.csv'.format(i)), delimiter = ',')
    except:
        return 
    try:
        r = len(data)%(22*n)
        x = len(data)//(22*n)
    except:
        return

    try: 
        tot_obs = np.split(data[:len(data)-r], x)
    except:
        return
    df = pd.DataFrame([tot_obs[0]], columns = np.arange(n*22))
    j=0
    for j in range(1, len(tot_obs)):
        df = df.append([tot_obs[j]], ignore_index=True)
    df['Ragam'] = ragam
    if len(df) >= samp:
        df = df.sample(samp, random_state=0).reset_index()    
        
    return df



def get_df_spec(samp, n):
    df = split_n_seconds_spec(indices[0], ragams[0], samp, n)
    for i in range(1, len(indices)):
        if i % 100 == 0:
            print('{} {}'.format(i, datetime.now().strftime("%H:%M:%S")))
        df = df.append(split_n_seconds(indices[i], ragams[i], samp, n))
    df = df.reset_index()
    df = df.drop(['level_0', 'index'], axis = 1)
    return df

In [44]:
i = indices[25]
data = np.genfromtxt(os.path.join(features_wd, 'full_chroma_{}.csv'.format(i)), delimiter = ',')

In [45]:
data.shape

(50, 570)

In [46]:
data

array([[0.05253496, 0.06858705, 0.01566473, ..., 0.32319134, 0.37805003,
        0.44444326],
       [0.07648043, 0.07433607, 0.01906384, ..., 0.18598264, 0.23727144,
        0.30503184],
       [0.12585384, 0.09785748, 0.0276066 , ..., 0.08343566, 0.09699811,
        0.11430896],
       ...,
       [0.11017124, 0.21253459, 0.03200612, ..., 0.04997023, 0.06399008,
        0.1012705 ],
       [0.0581991 , 0.12134312, 0.0196883 , ..., 0.16472757, 0.20920178,
        0.25899076],
       [0.04531627, 0.08218471, 0.01594808, ..., 0.37454909, 0.44510704,
        0.49806839]])